.action-card-container__section-title {
  font: 700 1.125rem/calc(24/18) var(--boxel-font-family);
  letter-spacing: 0;
}

.action-card-container__section-title + * {
  margin-top: var(--boxel-sp-xxl);
}
